# Creation Datasets

In [40]:
import pandas as pd
import datetime

In [41]:
def info_df(self, h_or_t: str ='head', n_display: int =5) -> None:
    dic_h_or_t = {
        'head': self.head(n_display),
        'tail': self.tail(n_display)
    }
    print(self.shape)
    display(self.info())
    display(dic_h_or_t[h_or_t])

pd.DataFrame.info_df = info_df

In [1116]:
TABLE_NAME = '8_4_5_monthly_sales'

In [1124]:
col_name = ['year_month','item','amount']
data = list((
   ('2016-01', 'D001', 30000)
 , ('2016-01', 'D002', 10000)
))
df = pd.DataFrame(data, columns=col_name)
df.info_df(n_display=100)

(2, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
year_month    2 non-null object
item          2 non-null object
amount        2 non-null int64
dtypes: int64(1), object(2)
memory usage: 128.0+ bytes

None

  year_month  item  amount
0    2016-01  D001   30000
1    2016-01  D002   10000

## To CSV

In [1118]:
df.to_csv('../data/' + TABLE_NAME + '.csv', index=False)

## To BigQuery

In [1119]:
%reload_ext google.cloud.bigquery

In [1120]:
PROJECT_ID = 'tactile-acrobat-231812'

### CREATE

In [1121]:
df.to_gbq('practice.' + TABLE_NAME, PROJECT_ID)

1it [00:03,  3.86s/it]

### SELECT *

In [1125]:
df_ast = pd.read_gbq('SELECT * FROM [tactile-acrobat-231812.practice.' + TABLE_NAME + ']', PROJECT_ID)
df_ast.info_df(n_display=5)

/Users/toshi/.pyenv/versions/data_analysis_sandbox/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value for dialect is changing to "standard" in a future version of pandas-gbq. Pass in dialect="legacy" to disable this warning.
  """Entry point for launching an IPython kernel.

(24, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 3 columns):
year_month    24 non-null object
item          24 non-null object
amount        24 non-null int64
dtypes: int64(1), object(2)
memory usage: 656.0+ bytes

None

  year_month  item  amount
0    2016-01  D002   10000
1    2016-02  D003   10000
2    2016-02  D005   20000
3    2016-03  D001   20000
4    2016-01  D001   30000

### SELECT

In [1009]:
%%bigquery df_ast
select
    case when 
from
  `tactile-acrobat-231812.practice.quarterly_sales`
where
    q1 between 82001 and 91000
group by
    year

Executing query with job ID: 7792d57d-e9d6-4a98-a551-c59843b39c92
Query executing: 1.05s

BadRequest: 400 Syntax error: Unexpected keyword FROM at [3:1]

In [98]:
df_ast.info_df(n_display=100)

(1, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 5 columns):
year    1 non-null int64
q1      1 non-null int64
q2      1 non-null int64
q3      1 non-null float64
q4      1 non-null float64
dtypes: float64(2), int64(3)
memory usage: 120.0 bytes

None

   year     q1     q2       q3       q4
0  2016  85000  85000  80000.0  81000.0

### DELETE

In [994]:
%%bigquery
DROP TABLE `tactile-acrobat-231812.practice.8_1_2_access_log`

Empty DataFrame
Columns: []
Index: []