# SQL練習

In [1]:
%reload_ext google.cloud.bigquery

In [2]:
import pandas as pd

## テーブル定義

In [3]:
p_id = 'tactile-acrobat-231812'
name = 'example.test'
data = [
    ('str1', 1, 1.),
    ('str2', 2, 2.)
]
cols = ['str', 'int', 'float']

### CREATE

In [9]:
df_create = pd.DataFrame(data, columns=cols)
df_create.to_gbq(name, p_id, if_exists='replace')  # 追加の場合はif_exists='append'

1it [00:08,  8.81s/it]

### DROP TABLE

In [8]:
%%bigquery
DROP TABLE `tactile-acrobat-231812.example.test`

Empty DataFrame
Columns: []
Index: []

### SELECT（*）

In [6]:
%%bigquery df_ast
SELECT
  *
FROM 
  `tactile-acrobat-231812.example.test`

In [7]:
display(df_ast)

    str  int  float
0  str1    1    1.0
1  str2    2    2.0

In [12]:
df = df_ast.query('str=="str1"')
df

    str  int  float
0  str1    1    1.0